.tela-cadastro {
    padding: 20px;
    margin: 20px;
    text-align: justify;
    font-family: Swiss;
}

.cadastro {
    width: 650px;
    background-color: #7c48f5;
    border-radius:  15px 15px 15px 15px;
    justify-content: center;
}

.conteudo {
    height: 30px;
    width: 500px;
    border: 1px solid black;
    background: transparent;
    outline: none;
    margin-left: 20px;
    margin-bottom: 15px;
    color: black;
    font-family: Gotham-Light;
    font-size: 15px;
    background-color:#ffffff;
}

.conteudo-menor {
    justify-content: center;
    align-items: center;
    position: relative;
    height: 30px;
    width: 150px;
    border: 1px solid black;
    background: transparent;
    outline: none;
    margin-left: 20px;
    margin-bottom: 15px;
    color: black;
    font-family: Gotham-Light;
    font-size: 15px;
    background-color: #ffffff;
}

label {
    margin-right: 15px;
    font-family: Gotham-Medium;
}

@font-face {
    font-family: Swiss;
    src: url(../../Fonts/swiss-721-black-extended-bt.ttf);
    }
    @font-face {
        font-family: Gotham-Light;
        src: url(../../Fonts/gotham-light.ttf);
        }
        @font-face {
            font-family: Gotham-Medium;
            src: url(../../Fonts/gotham-medium.ttf);
            }